/* ContactForm.css */

.form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #3498db;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 34px;
    /* cursor: pointer; */
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  